// Shoelace

// sl-dialog
sl-dialog::part(title) {
  font-weight: 500;
  font-size: 1.6em;
}

// sl-input
sl-input::part(base) {
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: #c52020;
}

// sl-button
sl-button::part(base) {
  background-color: #ff5c00;
  color: white;
  border-radius: 0.5rem;
  font-weight: 600;
}

// sign in/up --------------------------
sl-button.submit-btn::part(base) {
  background: linear-gradient(135deg, #bb2707, #ff5c00);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(255, 92, 0, 0.3);
  transition: background 0.3s ease;
}

sl-button.submit-btn::part(base):hover {
  background: linear-gradient(135deg, #ff8e1a, #ff6a1a);
}

// RESPONSIVE - MOBILE -------------------
@media all and (max-width: 768px) {
  sl-dialog::part(panel) {
    width: 100%;
    height: 100%;
    max-height: none;
    max-width: none;
  }
}
